.board {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 89px);
    padding: 89px 60px 0px 292px;
    background-color: #F6F7F8;
}

.boardHead {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 82px 0px;
}

.sectionHeadline {
    font-size: var(--font-sectionHeadline);
    font-weight: 700;
    line-height: 120%;
}

.boardHead div {
    display: flex;
    align-items: center;
    gap: 35px;
}

.searchForm {
    position: relative;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 209px;
    height: 25px;
    background: var(--bg-white);
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    font-size: 16px;
}

.searchIcon {
    position: absolute;
    right: 0px;
    top: 11px;
    height: 31px;
    background-color: unset;
    border: none;
    border-left: 1px solid #d1d1d1;
    cursor: pointer;
}

.searchIcon img {
    padding: 0px 10px;
}

.btn {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px !important;
    padding: 18px 10px;
    width: 117px;
    height: 15px;
    background: var(--bg-blue);
    border-radius: 10px;
    font-weight: 700;
    font-size: 21px;
    color: var(--text-white);
    cursor: pointer;
    transition: all ease-in-out 125ms;
}

.btn:hover {
    background-color: var(--bg-highlight-light-blue);
    box-shadow: var(--btn-shadow);
    transition: all ease-in-out 125ms;
}

.boardTaskStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 20px 0px;
}

.boardTaskStatus div {
    width: 22%;
    display: flex;
    justify-content: space-between;
}

.boardTaskStatus div span {
    font-size: var(--font-subheadline);
    font-weight: 700;
    color: var(--text-blue);
}

.boardTaskStatus div img:hover {
    cursor: pointer;
    filter: invert(54%) sepia(85%) saturate(1114%) hue-rotate(165deg) brightness(96%) contrast(85%);
}

.boardTask {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 394px);
    overflow-y: scroll;
    padding: 0px 20px;
}

.boardTask::-webkit-scrollbar {
    display: none;
}

.taskToDo,
.taskInProgress,
.taskAwaitingFeedback,
.taskDone {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    cursor: pointer;
}

.task {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 18px 19px;
    gap: 10px;
    background: var(--bg-white);
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.taskDepartment {
    padding: 4px 25px;
    border-radius: 8px;
    color: var(--text-white);
}

.taskDepartment::first-letter {
    text-transform: uppercase;
}

.taskTitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
}

.taskDescription {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #a8a8a8;
}

.taskSubtask {
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subtaskProgressBar {
    width: 70%;
}

.innerProgressBar {
    height: 8px;
    background-color: #29ABE2;
    border-radius: 2px;
}

.taskBottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.taskAssignedTo {
    display: flex;
    flex-direction: row;
}

.taskAssignedTo div {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 58px;
    border: 1px solid #ffffff;
    color: var(--text-white);
    margin-right: -8px;
}

.draggedTask {
    transform: rotate(2.5deg);
    transition: all ease-in-out 125ms;
}

.onDrag {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 18px 19px;
    gap: 10px;
    width: 100%;
    height: 170px;
    border: 1px dashed #D1D1D1;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.green {
    background-color: green;
}


/* Big Task */

.bigTaskBg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigTask {
    background-color: var(--bg-white);
    box-shadow: var(--box-shadow);
    border-radius: 30px;
    width: 523px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    position: relative;
}

.bigTaskDepartment {
    width: fit-content;
    padding: 4px 36.5px;
    border-radius: 8px;
    color: var(--text-white);
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
}

.bigTaskDepartment::first-letter {
    text-transform: uppercase;
}

.bigTaskTitle {
    color: var(--text-blue);
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
}

.bigTaskSubtitle {
    font-weight: 700;
}

.bigTaskDate {
    display: flex;
    flex-direction: row;
}

.bigTaskPriority {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.bigTaskPriorityChild {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 18px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    color: var(--text-white);
}

.bigTaskPriorityChild span::first-letter {
    text-transform: uppercase;
}

.urgent {
    background-color: #FF3D00;
}

.medium {
    background-color: #FFA800;
}

.low {
    background-color: #7AE229;
}

.bigTaskBottom {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.bigTaskAssignedTo {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.bigTaskAssignedTo div {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}

.bigTaskInitials {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 58px;
    border: 1px solid #ffffff;
    color: var(--text-white);
    font-size: 16px;
}

.bigTaskCancel {
    position: absolute;
    top: 30px;
    right: 41px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bigTaskCancel:hover {
    transform: rotate(180deg);
    transition: all ease-in-out 125ms;
}

.bigTaskEdit {
    position: absolute;
    bottom: 30px;
    right: 41px;
    height: 57px;
    width: 57px;
    background-color: var(--bg-blue);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bigTaskEdit:hover {
    background-color: var(--bg-highlight-light-blue);
}


/* Departments */

.sales {
    background-color: #FC71FF;
}

.design {
    background-color: #FF7A00;
}

.backoffice {
    background-color: #1FD7C1;
}

.media {
    background-color: #FFC701;
}

.marketing {
    background-color: #0038FF;
}