body {
    margin: 0px;
    background-color:rgb(246,247,248);
}


/* Contact CSS Start*/
background{
    background-color: rgb (F5F5F5);
}

.cont_section{
display: flex;
}

.cont_main_container_left{
width: 453px;
height: 935px;
left: 232px;
top: 89px;
background: #ffffff;
box-shadow: 0px 4px 4px rgb(0 0 0 / 0.25);
}

.cont_main_container_left_child{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 357px;
    height: 1072px;
    left: 48px;
    top: 2px;
    background:(#FFFFFF);
    height: calc(100% - 80px)
}

.cont_main_container_right{
    background-color:rgb(246,247,248);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: hidden;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
}
.cont_main_container_right_titel{
    display: flex;
    margin-top: 130px;
}
.cont_main_container_right_titel h1{
    font-family: 'inter';
    font-size: normal;
    font-weight: 700;
    font-size: 61px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.cont_main_container_right_titel h3 {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 27px;
    margin-left: 20px;
    margin-top:0;
    margin-bottom: 0.5rem;
    font-family: 'inter';
    line-height: 1.2;
}


.cont_separator{
    border-left: 3px solid #29abe2;
    margin-top: 7px;
    margin-bottom: 10px
}
.cont_add_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 10px;
    gap: 10px;
    width: 193px;
    height: 53px;
    background: #2a3647;
    border: 1px solid #2a3647;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-left: 400px;
    margin-bottom: 40px;
}